{{#each questions as |question|}}

  <div data-id="{{question.id}}">
    <h5 class="problem">Problem: {{question.problem}}</h5>
    <h6 class="correct">Answer: {{question.correct}}</h6>
  </div>

{{/each}}
