$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: lightblue;
}

.gameboard {
  height: 404px;
  width: 404px;
  margin: 0 auto;
}

.gameboard div {
  border: 1px solid black;
  float: left;
  font-size: 70px;
  height: 80px;
  text-align: center;
  width: 80px;
}

.btn-create-game {
  width: 50px;
  margin: 0 auto;
}

.answers {
  width: 50%;
}

#winner {
  font-size: 100px;
  font-weight: bold;
}

.correct,
.problem,
.question-index {
  font-weight: bold;
  font-size: 1em;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
  border: 5px solid black;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
}

#end-game {
  margin: 5px;
}



.sign-up-fieldset {
  width: 375px;
  padding: 20px;
}

.sign-in-fieldset {
  width: 275px;
  padding: 20px;
}

.change-password-fieldset {
  width: 275px;
  padding:20px;
}

.create-question-fieldset {
  width:500px;
  padding: 20px;
}
