$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.gameboard {
  height: 404px;
  width: 404px;
}

.gameboard div {
  border: 1px solid black;
  float: left;
  font-size: 70px;
  height: 80px;
  text-align: center;
  width: 80px;
}

.answers {
  border: 1px solid black;
  width: 50%;
}
